extends layout

block content
  div.container
    h2 用户列表 
      a.btn.btn-primary(href='')新增 
    div.row#userList
    div.row#userInfo
      


  script(src='/javascripts/users.js' type="text/babel" cache="false")